.text-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__label {
        color: #696F79;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
    }

    &__wrapper {
        height: 60px;

        input {
            border-radius: 4px;
            border: 1px solid #8692A6;
            height: 40px;
            width: 100%;
            padding-left: 10px;

            &::placeholder {
                text-transform: capitalize;
            }

        }
    }
}