$base-color: #1565D8;
$reverse-color: #ffffff;
$default-font-color: #696F79;
$heighlight-font-color: #000000;

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
label {
    font-size: 1.4rem;
    color: $default-font-color;
}

p {
    margin: 1rem 0;
}

h1 {
    font-size: 3.2rem;
    color: $heighlight-font-color;
}

button {
    cursor: pointer;
}

input {
    padding: 2px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}