$base-color: #1565D8;
$reverse-color: #ffffff;
$default-font-color: #696F79;
$heighlight-font-color: #000000;


body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
label {
    font-size: 1.4rem;
    color: $default-font-color;
}

p {
    margin: 1rem 0;
}

h2 {
    
    // color: #DB4444;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 125%;
    align-items: center;
    margin: 1rem 0;

    &::before {
        content: '';
        display: block;
        // background-color: #DB4444;
        height: 4rem;
        width: 2rem;
    }

}

h3 {
    font-size: 3.2rem;
    color: $heighlight-font-color;
    margin: 2rem 0;
}

button {
    cursor: pointer;
}

input {
    padding: 2px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: #000000;
}