@import "../../globalcss/variable.scss";

.notebook_footer{
    background: $light-base-color;
    padding: 100px 10px 72px;
}
.footer_nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    h2{
        text-transform: capitalize;
    }
    ul{
        text-transform: capitalize;
        li{
            margin: 16px 0;
        }
    }
}