.category-list {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4rem 1.6rem 0 0;
    min-width: 20rem;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        font-size: 1.6rem;
        line-height: 150%;
        text-transform: capitalize;
    }

    a {
        color: #000;
    }
}