.ls__info {
    opacity: 0.9;
    background: #1565D8;
    padding: 4rem 6rem;
    color: #fff;
    display: grid;
    grid-template-rows: 6rem 2fr;
    align-items: center;
    justify-content: flex-end;

    a {
        color: #fff;
    }

    &-logo {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    &-desc {
        gap: 2.5rem;
        line-height: 150%;
        min-width: 15rem;
        max-width: 35rem;


        &-author {
            margin-top: 40px;
        }
    }
}