.sign-up {
    min-width: 250px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 24px;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
        }

        p {
            font-size: 14px;
            color: #8692A6;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        color: #BABABA;

        .button {
            width: 100%;

        }
    }

}