.product-menus {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 0.8rem;
    padding: 4rem 1.6rem 0 0;
    min-width: 15rem;
    width: 20rem;
    max-width: 25rem;
    border-right: 1px solid rgba(0, 0, 0, 0.3);

    a {
        color: #000;
    }
}