.home {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 100vh;

    &__container {
        &-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            li {
                margin: 0.5rem;
                padding: 5rem 0;
                background-color: grey;
                text-align: center;
                font-weight: bold;
                border-radius: 1rem;

                a {
                    padding: 5rem;
                    color: #fff;
                }
            }
        }
    }
}