.sign-up {
    min-width: 20rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
            text-transform: capitalize;
        }

        p {
            color: #8692A6;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        color: #BABABA;

        .button,
        a {
            width: 100%;

        }
    }

}