.ls {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;


    &__info {
        opacity: 0.9;
        background: #1565D8;
        padding: 40px 60px;
        color: #fff;
        display: grid;
        grid-template-rows: 60px 2fr;
        align-items: center;
        justify-content: flex-end;

        &-logo {
            display: flex;
            align-items: center;
            font-size: 16px;
        }

        &-desc {
            gap: 25px;
            line-height: 150%;
            min-width: 200px;
            max-width: 450px;

            &-author {
                margin-top: 40px;
            }
        }
    }

    &__form {
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }
}